

  <!-- Include Froala Editor styles -->

  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" />
  <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_style.min.css" />


    <link rel="stylesheet" href="app.css">




<div>
	<div class="sample">
      <h3> partie {{N+1}}:</h3>
      
      <textarea froala="titleOptions" ng-model="part.content"></textarea>
      <button class="btn btn-info btn-lg" ng-click="speLinks()">liens  spécifiques</button>
      <button class="btn btn-info btn-lg" ng-click="">enregistrer</button>
      <button class="btn btn-info btn-lg" ng-click="">annuler</button>
      <button class="btn btn-info btn-lg" ng-click="">nouvelle partie</button>
    <div>



    <div>{{part.msg}}</div>

    <p><a data-toggle='modal' data-target='#enfant'>enfant</a><a data-toggle='modal' data-target='#enfant'> enfant</a>
    <div id='enfant'class='modal fade' role='dialog'>
    	<div class='modal-dialog'>
    		<div class='modal-content'>
    			<div class='modal-header'>
    				<button type='button' class='close' data-dismiss='modal'>&times;</button>
    			</div>
    			<div class='modal-body'><p><img src='aventureskarim/enfant.	jpg ' class='img-responsive'/></p>
    			</div>
    		</div>
    	</div>
    </div> qui</p>


</div>